{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>
    <div class="example-wrapper">
        <p>{{ consumer.id }}</p>
        <p>{{ consumer.firstName }}</p>
        <p>{{ consumer.lastName }}</p>
        <p>{{ consumer.phoneNumber }}</p>
        <a href="{{ path('app_consumer') }}">Back</a>
    </div>
{% endblock %}
