{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>
    <div class="example-wrapper">
        <p>Order ID: {{ order.id }}</p>
        <p>Package: {{ order.package.name }}</p>
        <p>Consumer: {{ order.consumer.firstName }} {{ order.consumer.lastName }}</p>
        <p>Created: {{ order.createdAt ? order.createdAt|date('Y-m-d H:i') : '' }}</p>
        <a href="{{ path('app_order') }}">Back</a>
    </div>
{% endblock %}
